* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {

    font-family: 'Roboto', sans-serif;
}

/*header part start*/
.header {
    background-image: url(./image/donation13.jpg);
    background-position: center;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 100px;
}



.head-center {
    margin: auto;

    text-align: center;

    color: white;

}

.head-center h1 {
    font-size: 60px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.head-center p {
    margin-bottom: 50px;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 25px;
}

.head-center a {
    padding: 20px 20px;
    background-color: rgba(238, 75, 75, 0.987);
    text-decoration: none;
    border-radius: 15px;
    color: white;

}

/*header part end*/

/*donate part start*/


.donate {
    width: 100%;
    margin-bottom: 100px;
    
}

.donate h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;

}

.donate p {
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: -2px;
    text-align: center;
}

.donate-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.donate a {
    padding: 40px 30px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
    background-color: rgb(246, 246, 246);
    color: rgba(0, 0, 0, 0.517);

}

span {
    padding: 40px 30px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
    background-color: rgb(241, 167, 167);
    color: white;
    border: 2px solid red;

}

.form-part {
    width: 700px;
    margin: auto;
}

.form-part input {
    height: 50px;
    width: 100%;
    color: #fcfcfc;
    font-size: 16px;
    text-align: center;
    background: none;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ced2d8;
}

.button {
    width: 100%;
    text-align: center;
}

.button button {
    border-radius: 15px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    border: none;
    padding: 20px 20px;
    background-color: rgba(238, 75, 75, 0.987);
}

/*donate part end*/

/*donate-plane part start*/


.donate-type {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.donate-type h3 {
    font-size: 25px;


    margin-bottom: 10px;

}

.donate-type p {
    text-align: left;
    margin-bottom: 10px;
    letter-spacing: 0;
}

.donate-type img {
    margin: 10px 0;
}

.dt-1 {
    background-color: rgba(217, 255, 255, 0.952);
    width: 25%;
    margin: 0 15px;
    padding: 50px 30px;
    border-radius: 10px;
}

.dt-2 {
    background-color: rgb(255, 220, 240);
    width: 25%;
    padding: 50px 30px;
    margin: 0 15px;
    border-radius: 10px;
}

.dt-3 {
    background-color: #ffeae8;
    width: 25%;
    padding: 50px 30px;
    margin: 0 15px;
    border-radius: 10px;
}

/*donate-plane part end*/
.work-part{
    display: flex;
    align-items: center;
    justify-content: center;

}
.wp-1{
    width: 20%;
    
}
.wp-1 img{
    width: 250px;
    height: 250px;
}

/*work prat start*/


/*work prat end*/



/*contact part start*/
.contact{
    margin-bottom: 0;
}
.cf-1 {
    padding: 80px 300px;
    background-color: #ffeae8;


}

label {

    position: relative;



}

.cf-1 input {

    background-color: #d1d5d9;
    color: #7e8287;
    width: 400px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.cf-1 button {

    background-color: rgba(255, 72, 72, 0.987);
    color: white;
    width: 150px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    padding: 15px;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;


}

.contact-from {
    display: flex;

    align-items: center;
    justify-content: center;

}

/*contact part end*/

/*footer part*/
#footer {
    height: 160px;
    background-color: black;
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.footer-part h2 {
    font-size: 30px;
    color: coral;

    text-align: center;


}

.footer-part p {
    color: white;
    margin-top: 15px;
    text-align: center;
    font-size: 10px;


}
